/* :root{
    --primary-color :#032541;
    --secondary-color:#373b69;
    --color-white:#fff;
    --color-dark:#000;
}

body{
    background-image: url(../images/gradient-blue-technology-background_23-2149108578.avif);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
 
.formCard{
    background-color: transparent;
    border:2px solid var(--color-white);
} */